//colori
$dark-color: #072541;
$primary-color: #F8BDEB;
$secondary-color: #FBECB2;
$light-color: #5272F2;



//font
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');
$name-font: "Caveat", cursive;


//mixin
@mixin display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }