.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
    background-color:cornflowerblue;
    padding: 10px 0;
}

.navbar{
    margin-right: 10px;
    display: flex;
}

.image1{
    width: 100px;
    margin-left: 10px;
    border-radius: 100%;
}

.h1{
    display:flex;
    justify-content: center;
    color:aquamarine;
}

.link{
    color: rgb(76, 0, 255);
    padding-top: 10px;
    padding-right: 20px;
}

.link:hover{    
    cursor: pointer;
    color: purple;
}


.module {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
}

input {
    border-radius: 16px;
    padding: 8px;
    border: 2px solid rgba(25, 115, 233, 0.904);
    outline: none;
}


.resetbtn{
    width: fit-content;
    padding: 5px;
}

.resetbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.submitbtn{
    width: fit-content;
    padding: 5px;
}

.submitbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    border: 2px solid grey;
    background-color: rgba(14, 54, 114, 0.568);
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}